table,
td,
thead
{
border: 1px solid black;
table-layout: auto;
width: auto;
text-align: center;
column-width: auto
}
th
{
background-color:lightgray;
text-align: center;
font-weight: bold;
border: 1px solid black

}
.descendants{
background-color: black;
font-weight: bolder;
color:white;
font-size: 1rem;
}
img {
position:absolute;
left: 500px;
}

p{
    font-weight: bold;
}